.all{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url("../Assets/bg2.jpg");
    background-size: cover;
  
  }
  h3{
    color: rgb(201, 42, 42);
  }
  .fregister, .flogin{
    display: flex; 
    flex-direction: column;
    padding-left: 3rem;
  }
  
  @media screen and (min-width:500px){
    .container{
      padding-top: 1rem;
      height: 20%;
      width: 30%;
      padding-left: 3rem;
      padding-right: 3rem;
      border: 1px solid white;
      margin: 0.5rem;
    }
  }
  
  label{
    text-align: left;
    padding: 0.25rem 0;
  }
  /*input{
    margin: 0.5rem 0;
    padding: 1rem;
    width: 75%;
    height: auto;
  }
  select{
    margin: 0.5rem 0;
    padding: 1rem;
    width: 83%;
    height: auto;
  } */

  input{
    margin: 0.5rem 0;
    padding: 1rem;
  }
  select{
    margin: 0.5rem 0;
    padding: 1rem;
    
  }
  button{
    border: none;
    background-color: #137b0f;
    padding: 20px;
    cursor: pointer;
    color: white;
    width: 100%;
    height: auto;
    
  }
  .loginButton{
    padding-left: 10%;
  }
  .link{
    background:none;
    color:#5b06c3; 
    text-decoration: underline;
  }
  .form-group
  {
    padding-right: 120px;
  }
  /* .App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  