/* background-color:darkgray;
background-color: #22242A
color: white;*/
/* background-image: url("../Assets/home1.jpg"); */
.emp-side-body{
    background-image: url("../Assets/bg3.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    /* background-color: bisque; */
    position: fixed;
}
.emp-side-content{
    color: white;
    margin-left: 20%;
}
.emp-side-nav
{
    display: flex;
}
.emp-side-nav1
{
    float: left;
    /* position:'relative'; */
    top:'-10px';
    padding-left: 30px;
}
.emp-side-nav2
{
    float: right;
    margin-left: 280px;
    margin-bottom: 20px;
    /* position:'relative'; */
    top:'-10px';
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #22242a;
    color: white;

 }
.emp-side-nav-tabs
{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
    width: 70vw;
    justify-content: end;
    text-decoration: none;
    color: white;

    /* background-color:; */
}
.emp-side-link-active
{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    padding-top: 10%;
    
}
.emp-side-link-active:hover
{
    background-color:darkgray;
    border-radius: 4px;
    transition: all 0.2s ease-out;
} 
